<div class="container">
  <div class="row">
    <div class="span10">
      <div class="notice"><%= notice %></div>
        <h1>Now Playing: <%= @movie.title %></h1>
        <p class="description">
          <em><%= @movie.description %></em>
        </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span12">
      <h1>Reviews</h1>
      <% @reviews.each do |review| %>
        <div class="review">
          <% if !review.body.nil? %>
            <p><%= review.user.email %></p>
            <p><%= review.body %></p>
            <% if review.user == current_user %>
              <%= link_to "Edit Review", edit_movie_review_path(@movie, review) %>
              <%= link_to "Delete Review", movie_review_path(@movie, review), method: :delete %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= render 'reviews/reviews_form' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span12">
      <h1>Reviews</h1>
      <% @reviews.each do |review| %>
        <div class="review">
          <% if !review.body.nil? %>
            <p><%= review.user.email %></p>
            <p><%= review.body %></p>
            <% if review.user == current_user %>
              <%= link_to "Edit Review", edit_movie_review_path(@movie, review) %>
              <%= link_to "Delete Review", movie_review_path(@movie, review), method: :delete %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= render 'reviews/reviews_form' %>
        <%= link_to "Back", root_path %>
    </div>
  </div>
</div>
